@{
    ViewBag.Title = "Prax OCR";
}
@section Head {
    <style type="text/css">
        .Links {
            font-size: 35px;
        }
        .Links a {
            text-decoration: none;
            padding: 4px;
            text-shadow: 0px 0px 5px #aaf;
        }
        .Links a:hover {
            text-decoration: underline;
        }
    </style>
}
<div class="Links"><a href="http://blog.padocr.com">Blog</a> &middot; <a href="@(Request.IsLocal ? "Demo" : "http://demo.padocr.com")">
    Demo</a> &middot; <a href="About">About</a></div>
