html, body {
	font-family: "Calibri" , Verdana, Arial, sans-serif;
	overflow: auto;
}
div.Content {
	margin: 0 auto;
	text-align: left;
	width: 700px;
	padding-bottom: 60px;	/* This padding goes underneath the footer if the document scrolls */
}
div.Content .Logo {
	display: block;
	text-align: center;
	width: 240px;
	padding: 2px 25px;
	margin: 20px auto;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 1.5em;
}
h1 {
	font-size: 2em;
	border-bottom: solid 1px black;
	margin-bottom: 10px;
}
h2 {
	font-size: 1.75em;
	font-weight: bold;
}
div.Footer {
	position: absolute;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: LightGray;
	border-top: solid 2px black;
	padding: 4px 0 6px;
	text-align: center;
}
div.Footer .Links a {
	padding: 4px 8px;
	color: Blue;
}
div.Footer .Links {
	margin-bottom: 5px;
}
.Sprite16 {
	background: transparent url('/Content/Images/Sprite16.png') no-repeat 0 center;
}