html, body {
	font-family: "Calibri" , Verdana, Arial, sans-serif;
	height: 100%;
	overflow: hidden;
}
div.Content {
	margin: 0 auto;
	text-align: left;
	width: 700px;
	margin-bottom: 30px;
}
div.Content .Logo {
	width: 180px;
	height: 180px;
	line-height: 180px;
	font-size: 65px;
	text-align: center;
	background-color: LightGray;
	border: outset blue 3px;
	margin: 14px auto 50px auto;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 1.5em;
}
h1 {
	font-size: 2em;
	border-bottom: solid 1px black;
	margin-bottom: 10px;
}
h2 {
	font-size: 1.75em;
	font-weight: bold;
}
div.Footer {
	position: absolute;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: LightGray;
	border-top: solid 2px black;
	padding: 7px 0 9px;
	text-align: center;
}
div.Footer .Links a {
	padding: 4px 8px;
	color: Blue;
}
div.Footer .Links {
	margin-bottom: 5px;
}
